.input-container {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 2px;
}

.search-input {
    background: none !important;
    border: none !important;
    outline: none !important;
    margin-bottom: 5px;
}